# Environment variables & secrets
.env
*.env

# SQLite Database
*.sqlite3
db.sqlite3

# Python virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
